@charset "utf-8";
*{padding:0;margin:0}
body{color:#000;background:#fff;font:16px "Trebuchet MS",Calibri,sans-serif;min-width:1001px}
section,nav,footer,header{min-width:1001px}
header,main,footer,nav,aside,section,article,figure,figcaption{display:block}
.clear{clear:both}
.left{float:left}
.right{float:right}
.hide{display:none}
.show{display:block}
.button{cursor:pointer}

section{clear:both}
main{margin:0 auto;width:998px;position:relative}

header{}

#number{}

#about{}

#why{}

#how{background-color:#ef541f ;color:white;margin-top:50px;}
#how main{height:197px;}
#how p{display:inline-block;border-left:2px solid white;height:197px;vertical-align:top;padding-left:10px;font:20px "Trebuchet MS"}
#how p.b1{width:230px;border-left:none;}
#how p.b2{width:230px;}
#how p.b3{width:230px;}
#how p.b4{width:237px;}
#how p span{display:block;font:bold 108px "Trebuchet MS";}

#comments{background:url(img/fon2.jpg)no-repeat center top;height:701px}
#comments h2{font:bold 28px "Trebuchet MS"; color:white; text-align:center;text-transform:uppercase;padding-top:45px}
#comments h2 span{font-size:62px;}
#comments div{display:inline-block;position:relative;width:400px;padding:0 45px;vertical-align:top;margin-top:143px}
#comments div img{position:relative;
left: 50%; 
top: 50%; 
margin-top: -108px; 
margin-left: -108px;}
#comments div h3{text-align:center;font:bold 28px "Trebuchet MS";color:white;padding:5px 0;}
#comments div p{font:16px "Trebuchet MS";color:white;}

#projects{background-color:#e63e17;background:url(img/red_fon.png) no-repeat top center;height:1007px}
#projects h2{font:bold 62px "Trebuchet MS"; color:white;text-align:center;padding:50px 0;}
#projects div p{font:16px "Trebuchet MS";color:white}
#projects div p.right{text-align:right;}
.d2{background:url(img/d2.png) no-repeat center top;padding:267px 73px 0 73px;}
#projects img{margin:38px 0 30px 240px;}
#projects img.button{margin-left:427px;margin-top:50px}
.d1{background:url(img/d1.png) no-repeat center top;padding:267px 73px 0 73px;}



footer{}

#splash{position:fixed;top:0;left:0;right:0;bottom:0;background:rgba(0,0,0,.8);color:white;text-shadow:0 0 1px #666;display:none}
#splash main{text-align:center;top:150px}
#splash p{color:white;text-align:center}
#splash form{margin:0 auto 0;position:static}

#copyright{text-align:center;font-size:12px;color:gray;font-family:Calibri}
#copyright a{color:lime;text-decoration:none}